
<div class="wrapper">
  <div class="topbar"><img id="logo" src="img/bornsinner-small.jpg"/></div>
  <div class="stories">
    <div class="storyContent">
      <div id="storyItems"></div>
    </div>
    <div class="storyNav">
      <div class="navWrap">
        <ul></ul>
      </div>
    </div>
  </div>
</div>