{{#each data}}
<div>
  <h1>{{title}}</h1>
  <p>{{description}}</p>
  <date>{{date}}</date>
  <div class="story-item-container"><img src="{{image}}"/></div>
  <div class="audio-item-container">
    <p>audio placeholder</p>
  </div>
</div>{{/each}}