div.wrapper
    div.topbar
        img#logo(src="img/bornsinner-small.jpg")
    div.stories
        div.storyContent
            div#storyItems
                
        div.storyNav
            div.navWrap
                ul

  
