{{#each data}}
div
    h1 {{title}}
    p {{description}}
    date {{date}}
    div.story-item-container
        img(src="{{image}}")
    div.audio-item-container
        p audio placeholder
{{/each}}