div.storyItemWrap(data-record="{{id}}")
    div.storyItem
        img.mainImage(src="{{mainImg}}")
        div.clear
    div.storyItemContent
        h4 {{title}}
        p {{description}}
        p {{date}}